	* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 10px 0;
}

body {
  font-size: 13px;
  font-weight: 400;
  font-family: monospace;
  margin: 0;
  color: #ffffff;
  background: linear-gradient(to right, #010e1f, #010e1f);
  background-size: cover;
  background-size: cover;
}

.grid {
	display:grid;
	gap:10px;
	grid-template-columns:repeat(2,1fr);
}
.descricao {
	background: url(/img/vemsercliente.jpg);
	background-size: cover; 
    background-position: center;
    top: 20px;
  	width: 700px;
  	height: 500px;
  	overflow: hidden;
  	position: relative;
  	margin: 50px auto;
  	border-radius: 10px;
}
h1 {
  font-family: monospace;
  width: 50%;
  margin: 10px 200px;
  text-align: center;
  border-top: 5px solid #ffffff;
  background: linear-gradient(to left, #f18324, #f18324);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  color: #0d2226;
}

h2 {
  text-align: center;
  color: #d2d0e6;
  margin: 25px 25px;
  opacity: 0.7;
  font-size: 20px;
  font-weight: 600;
}

h3 {
  color: #f18324;
}


footer {
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
}

.footer-top-wrapper {
  font-size: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px;
  margin: 0 auto;
  padding: 16px;
  min-height: 160px;
}

.footer-top-wrapper > section {
  width: 100%;
}

footer h2 {
  text-align: center;
  color: #d2d0e6;
  margin-top: 0px;
  margin-bottom: 0px;
  opacity: 0.7;
  font-size: 10px;
  font-weight: 600;
}

menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

menu li {
  margin-bottom: 0px;
}

nav {
  font-family: monospace;
  font: bold;
  font-size: larger;
  display: flex;
  justify-content: center;
  padding: 0px;
  background-color: #ffffff;
  box-sizing: border-box;
}

nav ul {
  list-style-type: none;
  margin-left: 10px;
  padding: 1px;
}

nav li {
  display: inline-block;
  margin-right: 15px;
}

nav li a {
  color: #000000;
  text-decoration: none;
}

nav li span {
  font-size: small;
}

nav li a:hover {
  text-decoration: none;
  color: #f18324;
}

.banner {
  top: 20px;
  width: 700px;
  height: 500px;
  overflow: hidden;
  position: relative;
  margin: 50px auto;
  border-radius: 10px;
}

.slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
}

.slide1 {
  background-image: url(/img/poupe.jpg);
  animation-delay: 0s;
  opacity: 1;
}

.slide2 {
  background-image: url(https://img.freepik.com/vetores-gratis/os-gerentes-financeiros-que-trabalham-com-clientes-isolaram-a-ilustracao-vetorial-plana-desenhos-animados-pessoas-sentadas-no-escritorio-do-banco-para-troca-de-dinheiro_74855-8370.jpg?w=1380&t=st=1698276137~exp=1698276737~hmac=65ae2c0b1f85fa587f04fc66f28b956d8073794a8f2df89dd923b573d8826184);
  animation-delay: 5s;
}

.slide3 {
  background-image: url(https://img.freepik.com/fotos-gratis/piggybank-com-oculos-de-sol-amarelos_1101-104.jpg?1&w=740&t=st=1698428494~exp=1698429094~hmac=79fd7746dea80844046e3db845df0964a735f290c29e081894f63bac4c85bd0a)
  animation-delay: 5s;
}


@keyframes slideAnimation {
  0%, 100% {
      opacity: 0;
  }
  10%, 90% {
      opacity: 1;
  }
}

/* Estilos para o banner do carrossel */
.banner2 {
  top: 20px;
  width: 100%; /* Preencher a largura da janela */
  height: 400px; /* Ajuste a altura conforme necessário */
  overflow: hidden;
  position: relative;
  margin: 50px auto;
  border-radius: 10px;
  background-color: #333; /* Cor de fundo */
  color: #fff; /* Cor do texto */
}

/* Estilos para as descrições dentro do carrossel */
.slideText {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px; /* Tamanho da fonte */
  font-weight: bold;
  text-align: center;
  transition: opacity 1s;
}
.slide6 {
  animation-delay: 0s;
  opacity: 1;
  background-color: #007BFF; /* Cor de fundo específica para este slide */
  color: #fff; /* Cor do texto específica para este slide */
}

.slide4 {
  animation-delay: 5s;
  background-color: #E74C3C; /* Cor de fundo específica para este slide */
  color: #fff; /* Cor do texto específica para este slide */
}
.slide5 {
  animation-delay: 5s;
  background-color: #020400; /* Cor de fundo específica para este slide */
  color: #fff; /* Cor do texto específica para este slide */
}

@keyframes slideAnimation {
  0%, 100% {
      opacity: 0;
  }
  10%, 90% {
      opacity: 1;
  }
}
@media screen and (max-width: 768px) {
    body {
      font-size: 10px; /* Reduzir o tamanho da fonte para dispositivos móveis */
    }
  
    main {
      margin: 5px 0; /* Reduzir a margem superior e inferior */
    }
  
    .grid {
      grid-template-columns: repeat(1,1fr); /* Alterar para uma coluna única em dispositivos móveis */
    }
  
    .descricao,
    .banner,
    .banner2 {
      width: 100%; /* Preencher a largura da tela */
      height: 40vh; /* Ajustar a altura automaticamente */
    }
    .slideText {
        width: 100%;
        font-size: 15px;
    }
    h1 {
      font-size: 20px; /* Reduzir o tamanho da fonte do título */
      margin: 10px 0; /* Ajustar a margem */
    }
  
    h2 {
      font-size: 16px; /* Reduzir o tamanho da fonte dos subtítulos */
      margin: 15px 0;
    }
  
    /* Adicionar mais estilos específicos para dispositivos móveis, se necessário */
  }